#conteudoPrincipal-lista {
    /* background-color: #ffffff; */
    min-height: 100px;
    text-align: center;
  }
  
  #tabela-lista {
    font-weight: lighter;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
  }
  
  #tabela-lista td {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
  }
  
  #tabela-lista td,
  #tabela-lista th {
    text-align: left;
    border: 1px solid #f6f6f6;
    padding: 8px;
  }
  
  #tabela-lista tr:nth-child(even) {
    background-color: #fff;
  }
  
  #tabela-lista tr:hover {
    background-color: #ddd;
  }
  
  #tabela-lista th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6f47ff;
    color: white;
  }